<div class="container">
  
    <div class="filters">
      <div>
        <label for="user-select">User selected:</label>
        <input id="user-select" type="text" [(ngModel)]="buyerId" />
      </div>
    </div>
  
    <section class="invoice-section">
      <h2>Invoices:</h2>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Total</th>
            <th>Invoice n°</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let invoice of invoices">
            <td>{{ this.salesDates[invoice._id] }}</td>
            <td>{{ this.salesPrices[invoice._id] }}</td>
            <td>
              <button (click)="generatePDF(invoice._id, invoice.sale_id)">{{ invoice._id }}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  
    
  </div>
  