<!-- admin.component.html -->
<div class="admin-container">
  <!-- Vérifier si l'utilisateur est un admin -->
  <div *ngIf="!isAdmin" class="not-admin">
    <h2>You're not an admin</h2>
  </div>

  <div *ngIf="isAdmin">
    <!-- SECTION EVENTS -->
    <div class="section">
      <div class="event-form">
        <button (click)="toggleAddEventForm()">
          {{ showAddEventForm ? 'Cancel' : 'Add Event' }}
        </button>
      </div>

      <!-- Formulaire d'ajout d'événement -->
      <div *ngIf="showAddEventForm" class="add-event-form">
        <label>
          Name:
          <input type="text" [(ngModel)]="newEvent.name" />
        </label>
        <label>
          Start Date:
          <input type="datetime-local" [(ngModel)]="newEvent.start" [min]="minStartDate" />
        </label>
        <label>
          End Date:
          <input type="datetime-local" [(ngModel)]="newEvent.end" [min]="newEvent.start ? newEvent.start.toISOString().slice(0,16) : minStartDate" />
        </label>
        <label>
          Commission Rate (%):
          <input type="number" [(ngModel)]="newEvent.commission" min="0" />
        </label>
        <label>
          Deposit Fee (%):
          <input type="number" [(ngModel)]="newEvent.deposit_fee" min="0" />
        </label>
        <button (click)="addEvent()">Save Event</button>
      </div>

      <h2>Events :</h2>
      <div *ngFor="let event of events" class="event-details">
        <p><strong>Name:</strong> {{ event.name }}</p>
        <p><strong>Start:</strong> {{ event.start }}</p>
        <p><strong>End:</strong> {{ event.end }}</p>
      </div>
    </div>

    <!-- SECTION USERS -->
    <div class="section">
      <h2>Users :</h2>
      <table class="user-table">
        <thead>
          <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Adresse</th>
            <th>Rôle</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.firstname }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.role }}</td>
            <td><button (click)="editUser(user)">Edit</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- SECTION STOCK -->
    <div class="section">
      <h2>Stock :</h2>
      <button (click)="takeNotReclaimedGames()">Récupérer les jeux non réclamés</button>
      <button (click)="navigateTo('stock/675b06588fb22316d3e6fb61')">Stock du magasin</button>
      <button (click)="navigateTo('financialreport/675b06588fb22316d3e6fb61')">Bilan financier du magasin</button>
    </div>
  </div>
</div>
