.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align everything at the top */
  align-items: center;
  height: 100vh;
  text-align: center;
  position: relative;

  /* Banner section */
  .banner {
    img {
      width: 100%;
      max-width: 800px;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  /* Footer section with links */
  .footer {
    position: fixed; /* Use fixed positioning to keep it at the bottom of the viewport */
    bottom: 10px; /* Distance from the bottom */
    left: 10px; /* Align to the left side of the page */
    width: auto; /* Adjust width to fit the content */
    display: flex;
    align-items: center;

    .footer-link {
      background-color: #0044b2;
      color: white;
      font-size: 14px;
      padding: 8px 20px;
      border-radius: 5px;
      text-decoration: none;
      transition: background-color 0.3s ease;
      font-weight: bold;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: #003391;
        text-decoration: none;
      }
    }
  }
}
