<div class="container">

<!-- Main Content -->
<div class="main-content">
  <div class="games-section">
    <div class="registered-games">
      <h3>Games in stock: {{ gamesInStock.length }}</h3>
  
      <!-- If no registered games -->
      <div *ngIf="gamesInStock.length === 0" class="empty-list">
        <p>No games in stock</p>
      </div>
  
      <!-- List of registered games -->
      <div *ngFor="let gameLabel of getPaginatedGameLabelsInStock()" class="game-entry">
        <input 
          type="checkbox" 
          [value]="gameLabel" 
          (change)="toggleGameSelection(gameLabel, $event)" 
          [checked]="isSelected(gameLabel)"
        />
          <div><span>Game:</span> {{ gamesNames[gameLabel.game_id] }}</div>
          <div><span>Cost:</span> {{ gameLabel.price }} €</div>
          <div><span>Condition:</span> {{ gameLabel.condition }}</div>
      </div>
      
        <button 
          class="pagination-button" 
          (click)="goToPreviousPageInStock()" 
          [disabled]="currentPageInStock === 1">
          Previous
        </button>
        
        <span>Page {{ currentPageInStock }} </span>
        
        <button 
          class="pagination-button" 
          (click)="goToNextPageInStock()" 
          [disabled]="currentPageInStock * gamesPerPage >= gamesInStock.length">
          Next
        </button>

      <div class="action-buttons">
        <button (click)="processSelectedGames()">Reclaim</button>
        <div class="select-all-container">
          <input type="checkbox" (change)="toggleSelectAll($event)" />
          <span>Select All</span>
        </div>
      </div>
      
      
    </div>
  </div>
  

  <!-- Right Side: Games Sold -->
  <div class="games-section">
    <div class="registered-games">
      <h3>Games sold: {{ gamesSold.length }}</h3>

      <!-- If no registered games -->
      <div *ngIf="gamesSold.length === 0" class="empty-list">
        <p>No games sold</p>
      </div>

      <!-- List of registered games -->
      <div *ngFor="let gameLabel of getPaginatedGameLabelsSold()" class="game-entry">
        <div><span>Game:</span> {{ gamesNames[gameLabel.game_id] }}</div>
        <div><span>Cost:</span> {{ gameLabel.price }} €</div>
        <div><span>Condition:</span> {{ gameLabel.condition }}</div>
      </div>
        <button 
          class="pagination-button" 
          (click)="goToPreviousPageSold()" 
          [disabled]="currentPageSold === 1">
          Previous
        </button>
        
        <span>Page {{ currentPageSold }} </span>
        
        <button 
          class="pagination-button" 
          (click)="goToNextPageSold()" 
          [disabled]="currentPageSold * gamesPerPage >= gamesSold.length">
          Next
        </button>

    </div>
  </div>
</div>
