<div class="container">
  <!-- Top Navigation -->
  <div class="top-nav">
    <button class="nav-button">Total stocks</button>
    <button class="nav-button">{{ eventName }}</button>
    <button class="nav-button">ENDS IN {{ remainingTime }}</button>
  </div>

<!-- Main Content -->
<div class="main-content">
  <div class="games-section">
    <div class="registered-games">
      <h3>Games in stock: {{ gamesInStock.length }}</h3>
  
      <!-- If no registered games -->
      <div *ngIf="gamesInStock.length === 0" class="empty-list">
        <p>No games in stock</p>
      </div>
  
      <!-- List of registered games -->
      <div *ngFor="let gameLabel of gamesInStock" class="game-entry">
        <input 
          type="checkbox" 
          [value]="gameLabel" 
          (change)="toggleGameSelection(gameLabel, $event)" 
          [checked]="isSelected(gameLabel)"
        />
          <div><span>Game:</span> {{ gamesNames[gameLabel.game_id] }}</div>
          <div><span>Cost:</span> {{ gameLabel.price }} €</div>
          <div><span>Condition:</span> {{ gameLabel.condition }}</div>
      </div>

      <div class="action-buttons">
        <button (click)="processSelectedGames()">Reclaim</button>
        <div class="select-all-container">
          <input type="checkbox" (change)="toggleSelectAll($event)" />
          <span>Select All</span>
        </div>
      </div>
      
      
    </div>
  </div>
  

  <!-- Right Side: Games Sold -->
  <div class="games-section">
    <div class="registered-games">
      <h3>Games sold: {{ gamesSold.length }}</h3>

      <!-- If no registered games -->
      <div *ngIf="gamesSold.length === 0" class="empty-list">
        <p>No games sold</p>
      </div>

      <!-- List of registered games -->
      <div *ngFor="let gameLabel of gamesSold" class="game-entry">
        <div><span>Game:</span> {{ gamesNames[gameLabel.game_id] }}</div>
        <div><span>Cost:</span> {{ gameLabel.price }} €</div>
        <div><span>Condition:</span> {{ gameLabel.condition }}</div>
      </div>
    </div>
  </div>
</div>
